<div>
  <!-- [*ngIf]  será a condição para mostrar o componente -->
  <h1>Condicional</h1>

  <!-- [*ngFor] será o loop para mostrar o componente -->
  <h1>Loop</h1>

  <!-- [ngStyle] será o estilo do componente -->

  <div
    *ngFor="let item of diretivasFor"
    [ngStyle]="{
      'background-color': item.idade > 18 ? 'blue' : 'red',
      cursor: 'pointer'
    }"
  >
    <!-- [ngIf] é a condição para mostrar o componente se a idade for maior que 18 -->

    <section *ngIf="item.idade > 18; else localReference">
      <h1>{{ item.name }}</h1>
      <p *ngIf="item.idade > 18; else localReference">
        Idade: {{ item.idade }}
      </p>
      <p>Sexo: {{ item.sex }}</p>
      <hr />
    </section>
  </div>

  <section
    [ngClass]="getClasses()"
    [style]="{ cursor: 'pointer', margin: '2rem 0' }"
  >
    <h1>Estamos Usando ngClass</h1>
  </section>
  <!-- Aqui estou usando o [ngClass] para alterar o estilo do componente e usando uma função chamada getClasses para retornar o estilo -->
</div>

<!-- <ng-template> serve para mostrar o componente caso a condição seja verdadeira ou falsa -->

<ng-template #localReference>
  <p>Menor de idade</p>
</ng-template>

<hr />

<ng-template #idade> </ng-template>

<!-- como são dividas as diretivas, elas tem duas formas de uso :

- diretivas de atributos sao usadas para alterar o estilo do componente

[ngStyle]
[ngClass]
[ngModel]

- diretivas de estruturais são usadas para alterar o conteudo do componente

[ngIf]
[ngFor]
[ngSwitch]
[ngTemplate]

-->
