<div>
  <!-- [*ngIf]  será a condição para mostrar o componente -->
  <h1>Condicional</h1>

  <!-- [*ngFor] será o loop para mostrar o componente -->
  <h1>Loop</h1>

  <!-- [ngStyle] será o estilo do componente -->

  <div
    *ngFor="let item of diretivasFor"
    [ngStyle]="{
      'background-color': item.idade > 18 ? 'blue' : 'red',
      cursor: 'pointer'
    }"
  >
    <!-- [ngIf] é a condição para mostrar o componente se a idade for maior que 18 -->

    <section *ngIf="item.idade > 18; else localReference">
      <h1>{{ item.name }}</h1>
      <p *ngIf="item.idade > 18; else localReference">
        Idade: {{ item.idade }}
      </p>
      <p>Sexo: {{ item.sex }}</p>
      <hr />
    </section>
  </div>

  <!-- <section
    [ngClass]="getClasses()"
    [style]="{ cursor: 'pointer', margin: '2rem 0' }"
  >
    <h1>Estamos Usando ngClass</h1>
  </section> -->
  <!-- Aqui estou usando o [ngClass] para alterar o estilo do componente e usando uma função chamada getClasses para retornar o estilo -->
</div>

<!-- <ng-template> serve para mostrar o componente caso a condição seja verdadeira ou falsa -->

<ng-template #localReference>
  <p>Menor de idade</p>
</ng-template>

<hr />

<ng-template #idade> </ng-template>

<!--........................ ngIF...................... -->

<p *ngIf="mostrar">Agora sou True</p>

<p *ngIf="!mostrar">Agora sou False</p>

<!-- [ngIf] é a condição para mostrar o componente posso usar dessa maneira de cima quanto na maneira de baixo -->

<p *ngIf="mostrar; else flaseIF">Agora sou True</p>

<ng-template #flaseIF>
  <p>Agora sou False</p>
</ng-template>

<button (click)="onClickMostre()" [style]="{ padding: '1rem' }">
  CLICA POR favor
</button>

<!-- como são dividas as diretivas, elas tem duas formas de uso :

- diretivas de atributos sao usadas para alterar o estilo do componente

[ngStyle]
[ngClass]
[ngModel]

- diretivas de estruturais são usadas para alterar o conteudo do componente

[ngIf]
[ngFor]
[ngSwitch]
[ngTemplate]

-->

<!--........................ ngFor...................... -->

<ul>
  <li *ngFor="let item of diretivasFor; let i = index" (click)="remover(i)">
    {{ item.id }} - {{ item.idade }} - {{ item.name }} - {{ item.sex }}
  </li>
  <button (click)="adicionar()" [style]="{ padding: '1rem' }">
    Adicionar Valores
  </button>
  <hr />
</ul>

<!-- (click)="remover(i) esta sendo chamado quando o botão for clicado e o i é o indice do item -->

<!--........................ ngSwhitch...................... -->

<div [ngSwitch]="isName(name)">
  <input
    type="text"
    [(ngModel)]="name"
    [placeholder]="placeholder"
    [style]="{ padding: '1rem' }"
  />
  <p *ngSwitchCase="'anderson'">Agora sou Kalleo</p>
  <p *ngSwitchCase="'kalleo'">Agora sou Kesley</p>
  <p *ngSwitchCase="'bruno'">Agora sou Bruno</p>
  <p *ngSwitchDefault></p>
</div>

<hr />

<!--
  O switch do angular tem o

  [ngSwitchCase] = CASE: o serve para mostrar o componente e o

  [ngSwitch] = Type  e o serve para condição para mostrar e o

  [ngSwitchDefault] = Default
-->

<!--........................ ngModel...................... -->

<input type="text" [(ngModel)]="newValue" [style]="{ padding: '0.5rem' }" />

<button
  (click)="salvar()"
  [style]="{ padding: '0.5rem', 'margin-top': '1rem' }"
>
  Salvar
</button>

{{ newValue }}

<ul>
  <li
    *ngFor="let item of listaNewValue; let i = index"
    [style]="{ color: 'white' }"
  >
    {{ item.nome }}
    <button (click)="editar(i)">Editar</button>
    <button (click)="salvarEditado(i)">Salvar</button>
  </li>
</ul>

<!-- ngModel e usado para alterar o valor do componente e o [(ngModel)] e usado para alterar o valor do componente -->
